<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset = "UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">
	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>O que foi utilizado nesse projeto:</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
							role="tab" aria-controls="spring-boot">Spring-Boot</a> <a
							class="list-group-item list-group-item-action" id="list-sts-list"
							data-toggle="list" href="#sts" role="tab" aria-controls="sts">Spring
							Tool Suite</a> <a class="list-group-item list-group-item-action"
							id="list-thymeleaf-list" data-toggle="list" href="#thymeleaf"
							role="tab" aria-controls="thymeleaf">Thymeleaf</a> <a
							class="list-group-item list-group-item-action"
							id="list-webjars-list" data-toggle="list" href="#webjars"
							role="tab" aria-controls="webjars">WebJars</a> <a
							class="list-group-item list-group-item-action"
							id="list-hibernate-list" data-toggle="list" href="#hibernate"
							role="tab" aria-controls="hibernate">Hibernate</a> <a
							class="list-group-item list-group-item-action"
							id="list-bootstrap-list" data-toggle="list" href="#bootstrap"
							role="tab" aria-controls="bootstrap">Bootstrap 4</a>
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="spring-boot"
							role="tabpanel" aria-labelledby="list-spring-boot-list">
							<a href="https://projects.spring.io/spring-boot/">Spring Boot</a>
							facilita a criação de aplicações autônomas e de produção que você pode apenas "executar" 
							com um click.
							Adotamos uma visão simples da plataforma Spring e de bibliotecas de terceiros para que 
							você possa começar com o mínimo de trabalho. A maioria dos aplicativos criados através 
							do Spring Boot precisa de uma configuração de Spring muito pequena.
						</div>
						<div class="tab-pane fade" id="sts" role="tabpanel"
							aria-labelledby="list-sts-list">
							The <a href="https://spring.io/tools">Spring Tool Suite</a> 
							é um ambiente de desenvolvimento baseado em Eclipse que é customizado para desenvolver
							aplicações em Spring. Ele fornece um ambiente pronto para implementar, depurar, executar
							e implantar suas aplicações em Spring, incluindo integrações para o 
							Server Pivotal Cloud Foundry, Git, Maven, AspectJ e muito mais.
						</div>
						<div class="tab-pane fade" id="thymeleaf" role="tabpanel"
							aria-labelledby="list-thymeleaf-list">
							<a href="http://www.thymeleaf.org/">Thymeleaf</a>
							é um moderno mecanismo de templates do Java focado no lado do servidor para ambientes
							web e independente. Com módulos para o Spring Framework, uma série de integrações
							com suas ferramentas favoritas e a capacidade de conectar sua própria 
							funcionalidade, o Thymeleaf é ideal para o desenvolvimento web de JVM de HTML5 
							moderno - embora haja muito mais que ele possa fazer.
						</div>
						<div class="tab-pane fade" id="webjars" role="tabpanel"
							aria-labelledby="list-webjars-list">
							<a href="https://www.webjars.org/">WebJars</a>
							são bibliotecas da web (por exemplo, jQuery; Bootstrap) empacotadas em arquivos 
							JAR (Java Archive).
						</div>
						<div class="tab-pane fade" id="hibernate" role="tabpanel"
							aria-labelledby="list-hibernate-list">
							<a href="http://hibernate.org/orm/">Hibernate ORM</a> 
							permite que os desenvolvedores escrevam mais facilmente aplicativos cujos dados sobrevivam
							 ao longo do processo. Com uma estrutura Object / Relational Mapping (ORM), o Hibernate está preocupado com
							  a persistência de dados, uma vez que se aplica à bancos de dados relacionais (via JDBC).
							   Além de sua própria API "nativa", o Hibernate também é uma implementação da especificação
							    Java Persistence API (JPA). Como tal, ele pode ser facilmente usado
							     em qualquer ambiente com suporte em JPA, incluindo aplicativos Java SE, 
							     servidores de aplicação Java EE, Enterprise OSGi containers, etc
						</div>
						<div class="tab-pane fade" id="bootstrap" role="tabpanel"
							aria-labelledby="list-bootstrap-list">
							<a href="https://getbootstrap.com/">Bootstrap</a> 
							é uma ferramenta open source para desenvolvimento com HTML, CSS e JS que cria 
							rapidamente protótipos de suas ideias ou constrói seus aplicativos com variáveis e 
							'mixins Sass', sistema de grades responsivas e extensos componentes pré-construídos e 
							poderosos plugins construídos no jQuery.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>		
</body>
</html>